//
//  Config.xcconfig
//  Dday
//
//  Created by Kyeongmo Yang on 12/11/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "DevelopmentTeam.xcconfig"

MARKETING_VERSION=0.1.0
CURRENT_PROJECT_VERSION=1

// 코드 서명 설정
CODE_SIGN_STYLE = Automatic

// 배포 타겟 설정
IPHONEOS_DEPLOYMENT_TARGET = 17.0
TARGETED_DEVICE_FAMILY = 1,2 // iPhone and iPad

OTHER_SWIFT_FLAGS[config=DEV][sdk=*] = $(inherited) -DDEV
OTHER_SWIFT_FLAGS[config=PROD][sdk=*] = $(inherited) -DPROD
